:root {
  --chart-inner-radius: 10;
  --chart-outer-radius: 100;
  --chart-value: 10;
}

.chart {
  overflow: hidden;
  height: 0;
  padding-top: 50%;
  background: #999 paint(circle-chart, #795548, #FF5722);
}
