:root {
  --bar-placement: bottom;
  --bar-gap: 40;
  --bar-max: 120;
}

.bars {
  height: 700px;
  max-height: 50vh;
  padding: 10px;
  background: #111 paint(bar-chart);
  --bar-map: [
    {
      "value": 55,
      "color": "rgba(250, 128, 114, .8)"
    },
    {
      "value": 10,
      "color": "rgba(102, 51, 153, .9)"
    },
    {
      "value": 120,
      "color": "hsl(39, 100%, 50%)"
    },
    {
      "value": 36,
      "color": "#666"
    },
    {
      "value": 97,
      "color": "#9ee7a1"
    }
  ];
}

.values {
  display: inline-block;
  vertical-align: middle;
}

@supports not (background: paint(bar-chart)) {
  .bars:after {
    content: 'Your browser does not support CSS Paint API :(';
  }
}
