:root {
  --circles-count: 2;
  --circles-offset: 10;
}

.circles {
  overflow: hidden;
  height: 0;
  padding-top: 50%;
  --circles-opacity: 100%;
  background: #000;
  background: paint(circles);
  transition: --circles-opacity 0.3s ease;
}

.circles:hover {
  --circles-opacity: 0;
}
